:root {
--mail-text-color: #757575;
--main-title-color: #212121;
--second-title-text-color:#FFFFFF;
--text-accent: #2196F3;
--background-color-dark: #2F303A;
}
body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: #757575 ;
}
.logo {
    text-decoration: none;
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-accent);
}
.logo-dark {
    color: #000000 
}
.logo-light {
    color:var(--second-title-text-color)
}
.header-link.current {
    color: var(--text-accent);
}
.list {
    list-style-type: none;
}
.link {
    text-decoration: none;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--main-title-color) ;
}
.header-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--mail-text-color)
}
.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.adress-link-adress:hover,
.adress-link-adress:focus,
.adress-link-mail:hover,
.adress-link-mail:focus,
.adress-link-tel:hover,
.adress-link-tel:focus,
.portfolio-text-btn:hover,
.portfolio-text-btn:focus,
.portfolio-text-btn.white:hover,
.portfolio-text-btn.white:focus {
    color:var(--text-accent);
}
/*---------------------------------------------------- main------------------------------------------ */
/*--------------------section hero----------------------------- */
.hero {
    background-color:var(--background-color-dark);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--second-title-text-color);
}
.hero-btn {
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color:var(--second-title-text-color);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    color: var(--text-accent);
}
/*--------------------section features----------------------------- */
.hidden {
    display: none
}
.section-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);  
}
.features-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-title-color);
    }
.features-text {
    font-weight: normal;
    line-height: 1.71;
    color: var(--mail-text-color);
}
/* -----------------------------section works---------------------- */
.works-hidden {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);    
}
/* -----------------------------section team--------------------- */
.team-hidden {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;  
    letter-spacing: 0.03em;
    color: var(--main-title-color);
}
.team-text {
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--mail-text-color);
}
/* -----------------------------footer---------------------- */
.footer {
    background-color:var(--background-color-dark) ;
}
.adress-link-adress {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-title-text-color);
}
.adress-link-mail,
.adress-link-tel {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
/* ---------------------portfolio page---------------------------------------------- */
.portfolio-text-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--main-title-color);
    cursor: pointer;
}
.portfolio-text-btn.white {
    color:var(--second-title-text-color)
    
}
.portfolio-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
}
.portfolio-text {
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: var(--mail-text-color);
}
